/*
basic orange color:#e29200
*/

/* ------------------------------------------------- */
/*BASIC SETUP*/
/*---------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: white;
    color: #575757;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
/* ------------------------------------------------- */
/*REUSABLE COMPONENT*/
/*---------------------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;

}
section{
  padding: 80px 0;
}
.box{
  padding: 1%;
}
/*________HEADINGS____________*/
h1,h2,h3{

    text-transform: uppercase;



    font-weight: 300;
}
h1{
  margin: 0 !important;
  color: #fff;
  font-size: 260%;
    word-spacing: 3px;
    letter-spacing: 1px;
}
h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;


}
h2:after{
  display: block;
  height: 2px;
  background-color:#e29200;
  content: " ";
  margin:0 auto;
  margin-top: 30px;
  width: 200px;


}
h3{
  font-size: 110%;
  margin-bottom: 30px;
  font-weight: 400;

}

/*--------PARAGRAPHS--------*/
.long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.box p{
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

/*________BUTTONS____________*/
.btn{
    margin-top: 15px;

    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s,border 0.2s,color 0.2s;


}
.btn-full{
    background-color: #e29200;
    margin-right: 15px;
    border: 1px solid #e29200;
}

.btn-ghost{
    border: 1px solid #e29200;
}

.btn:hover{
    background-color: #be7b01;
    border-color: #be7b01;
}


/*----------Features---------------------*/
.section-feature .long-copy{
  margin-bottom: 60px;

}
/* ------------------------------------------------- */
/*HEADER*/
/*---------------------------------------------------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top:60px

}
.main-nav li{

    display: inline-block;
    margin-left: 40px;
}
.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-bottom 0.4s;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
}

.main-nav li a:hover{
    border-bottom: 2px solid #e29200;
}
.icon-style{
  font-size: 400%;
  color:#e29200;
  margin-bottom:15px;
  display: block;
}
/*---------MALS---------*/
.meals-showcase{
  width: 100%;
  list-style: none;
}
.meals-showcase li{
  width: 25%;
  float: left;
  display: block;
}
.meals-photo{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.meals-photo img{
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.meals-photo img:hover{
  transform: scale(1.03);
  opacity: 1;
}
/*----------steps box-------------*/
.steps-box{
  margin-top: 30px;
}
.steps-box:first-child{
  text-align: right;
  padding-right: 3%;
}
.steps-box:last-child{

  padding-left: 3%;
}
.app-screen{
  width: 40%;
}
.section-steps{
  margin-bottom: 50px;
  
}
